:root {

	--dark-grey: #4c545d;
	--grey: #cacaca;
	--blue: #007eac;
	--light-blue: rgba(0, 185, 235, 0.73);
	--dark-blue: #007fb0;
	--black: #262626;
	--white: #F2EFEB;
	--light-grey : #EFEAE7;
	// main colors
	--bleu-500: #1D4259;
	--cafe-500: #BE916B;
	--orange-500: #5BE0E5;
	}